In [1]:
***
  "Dataset Description"
***
  
    ## The Goal of Collecting this Dataset  
  
Our goal of collecting this dataset is to build a model capable of predicting 
the potential success of startups.

    ## The Source of the Dataset 

Access the dataset on Kaggle through the following link: https://www.kaggle.com/datasets/manishkc06/startup-success-prediction

    ## General Information about the Dataset

Number of objects: 924 rows

Number of attributes: 20 columns

In this dataset, the class label we are focusing on is "status", which distinguishes between 
successful startups (labeled as "acquired") and unsuccessful ones (labeled as "closed").

**************************************************************************************************

ERROR: Error in parse(text = x, srcfile = src): <text>:1:1: unexpected '^'
1: **
    ^

In [2]:
# Import the readr library
library(readr)

In [3]:
# Specify the dataset path
dataset_path <- "/Users/basmaalsulaim/Desktop/Dataset/StartupData.csv"

In [4]:
# Load the dataset
dataset <- read_csv(dataset_path)

Rows: 923 Columns: 20
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): name, city, founded_at, closed_at, first_funding_at, last_funding_...
dbl (12): age_first_funding_year, age_first_milestone_year, funding_rounds, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
# View the first few rows of the dataset
head(dataset)

  name              city          founded_at closed_at first_funding_at
1 Bandsintown       San Diego     1/1/2007   NA        4/1/2009
2 TriCipher         Los Gatos     1/1/2000   NA        2/14/2005
3 Plixi             San Diego     3/18/2009  NA        3/30/2010
4 Solidcore Systems Cupertino     1/1/2002   NA        2/17/2005
5 Inhale Digital    San Francisco 8/1/2010   10/1/2012 8/1/2010
6 Matisse Networks  Mountain View 1/1/2002   2/15/2009 7/18/2006
  last_funding_at age_first_funding_year age_first_milestone_year
1 1/1/2010        2.2493                 4.6685
2 12/28/2009      5.1260                 7.0055
3 3/30/2010       1.0329                 1.4575
4 4/25/2007       3.1315                 6.0027
5 4/1/2012        0.0000                 0.0384
6 7/18/2006       4.5452                 5.0027
  funding_rounds funding_total_usd category_code   has_VC has_angel has_roundA
1 3                375000          music           0      1         0
2 4              40100000          enterprise      1      0         0
3 1               2600000          web             0      0         1
4 3              40000000          software        0      0         0
5 2               1300000          games_video     1      1         0
6 1               7500000          network_hosting 0      0         0
  has_roundB has_roundC has_roundD avg_participants is_top500 status
1 0          0          0          1.0000           0         acquired
2 1          1          1          4.7500           1         acquired
3 0          0          0          4.0000           1         acquired
4 1          1          1          3.3333           1         acquired
5 0          0          0          1.0000           1         closed
6 1          0          0          3.0000           1         closed

In [6]:
summary(dataset)

     name               city            founded_at         closed_at
 Length:923         Length:923         Length:923         Length:923
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 first_funding_at   last_funding_at    age_first_funding_year
 Length:923         Length:923         Min.   :-9.0466
 Class :character   Class :character   1st Qu.: 0.5767
 Mode  :character   Mode  :character   Median : 1.4466
                                       Mean   : 2.2356
                                       3rd Qu.: 3.5753
                                       Max.   :21.8959

 age_first_milestone_year funding_rounds   funding_total_usd
 Min.   :-14.170          Min.   : 1.000   Min.   :1.100e+04
 1st Qu.:  1.000          1st Qu.: 1.000   1st Qu.:2.725e+06
 Median :  2.521          Median : 2.000   Median :1.000e+07
 Mean   :  3.055          Mean   : 2.311   Mean   :2.542e+07
 3rd Qu.:  4.686          3rd Qu.: 3.000   3rd Qu.:2.472e+07
 Max.   : 24.685          Max.   :10.000   Max.   :5.700e+09
 NA's   :152
 category_code          has_VC         has_angel        has_roundA
 Length:923         Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 Class :character   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Mode  :character   Median :0.0000   Median :0.0000   Median :1.0000
                    Mean   :0.3261   Mean   :0.2546   Mean   :0.5081
                    3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000
                    Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

   has_roundB       has_roundC       has_roundD      avg_participants
 Min.   :0.0000   Min.   :0.0000   Min.   :0.00000   Min.   : 1.000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.: 1.500
 Median :0.0000   Median :0.0000   Median :0.00000   Median : 2.500
 Mean   :0.3922   Mean   :0.2329   Mean   :0.09967   Mean   : 2.839
 3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.: 3.800
 Max.   :1.0000   Max.   :1.0000   Max.   :1.00000   Max.   :16.000

   is_top500         status
 Min.   :0.0000   Length:923
 1st Qu.:1.0000   Class :character
 Median :1.0000   Mode  :character
 Mean   :0.8093
 3rd Qu.:1.0000
 Max.   :1.0000